* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*create CSS varables at the root*/
:root {
    --outer-space: #33393f;
    --white: white;
    --orange: #e09200;
    --pink: #ab3dff;
}

.header {
    position:sticky;
    top:0;
    z-index: 2;
    width:100%;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgba(255,166,0,0.8);
    color: var(--white);
}

.header h1 {
    display: inline-block;
    font-size: 30px;
    margin-top: -10px;
}
header h1:hover, h2:hover {
    border-bottom: 2px solid var(--white);
}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav a:hover{
    font-size:105%;
    border-bottom: 2px solid var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
}

.home {
    position:relative;
    text-align: center;
    color:var(--white);
}

.home h1 {
    position:absolute;
    top:15%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size: 25px;
}

.home h1:hover {
    font-size: 40px;
}

.intro {
    position:absolute;
    bottom:-30px;
    left:50%;
    transform:translate(-50%, -50%);
    text-shadow: 2px 2px rgb(24, 23, 23);
    font-size:12px;
}
.intro p {
    background-color: rgba(51, 57, 63, 0.5);
    border-radius: 10%;
}

.intro:hover {
    font-size:18px;
    bottom: -50px;
}

.content {
    height:auto;
    overflow:hidden;
    margin:20px;
}

.right {
    float:right;
    width:80%;
    padding-left:20px;
    border-left:6px solid var(--orange);
    padding-top:100px;
}

.content h2 {
    float:left;
    width:auto;
    overflow:hidden;
    padding-top:100px;
    font-size:18px;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.5;
    color: var(--white);
    background-color: var(--outer-space);
  }


.picture h3 {
    position:absolute;
    padding:10px;
    bottom: 15px;
    font-size: 20px;
    background-color:rgba(224,146,0,0.5);
}

.picture:hover {
    box-shadow: inset 0px 0px 8px var(--orange), 0 0 15px var(--orange);
    transform: scale(1.05);
}

.worklist {
    display:flex;
    flex-wrap: wrap;
}

.picture {
    flex-grow: 1;
    width: 50%;
    position:relative;
    object-fit: contain;
    padding:5px;
}
.picture a img {
    border-radius: 2%;
}

.picture:nth-of-type(1) {
    width: 100%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

button:hover {
    font-size: 120%;
}

button:active {
    box-shadow: 0 0 10px var(--orange);
}

.submit {
    background-color: var(--orange);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox:checked + label {
    color: var(--orange);
}

.checkbox:checked + label::after {
    margin-left: 10px;
    font-size: 90%;
    content: "(Thanks!)";
}

.footer {
    padding: 30px;
    clear: both;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.footer ul {
    display:flex;
    justify-content: center;
}

.footer ul li {
    margin:20px;
    background-color: var(--orange);
    padding:5px 10px 5px 10px;
    border-radius:6%;
}

#email_link, #linkedin_link, #github_link {
    display:none;
}

#email:hover #email_link, #linkedin:hover #linkedin_link, #github:hover #github_link{
    text-decoration: underline;
    display:block;
}

@media screen and (max-width: 768px) { 
    .header {
        background-color: rgba(166,0,255,0.8);
    }
    .right {
        border-left: 6px solid var(--pink);
    }

    input[type=submit], .submit, .footer ul li  {
        background-color: var(--pink);
    }

    .worklist {
        flex-direction: column;
    }
    .picture {
        width: 100%;
        max-height: 200px;
        overflow: hidden;
    }
    .main_pic {
        min-height: 250px;
        background-size: cover;
        background-position: center;
        background-image: url('../Images/work1.jpg'); 
        overflow: hidden;
    }
    .main_pic img{
        opacity: 0;
    }
    .picture:hover {
        box-shadow: inset 0px 0px 8px var(--pink), 0 0 15px var(--pink);
        transform: scale(1.05);
    }

    .picture h3 {
        background-color:rgba(171,61,255,0.5);
    }

    button:active {
        box-shadow:0 0 10px var(--pink);
    }
    
    .checkbox:checked + label {
        color: var(--pink);
    }

    .intro {
        bottom: -130px;
    }
    .intro:hover {
        font-size:13px;
        bottom:-90px;
    }

    .home h1 {
        font-size: 20px;
    }

    .home h1:hover {
        font-size: 22px;
    }
    .header nav {
        font-size: 18px;
    }

    .content h2 {
        font-size:14px;
    }
}
