* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5e5;
}

.header {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(223, 184, 12);
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
